* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body
{
    height: 100%;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
    color:  rgba(0, 0, 0, 0.7);
    font-size: 1rem;
}
a:hover{
    color:rgba(85, 63, 63, 0.7);

}
header{
    position: relative;
    padding: 0 2rem;
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;   
    cursor: pointer;
    color:rgb(44, 44, 41);
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color: red;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.action_btn{
    background-color: orange;
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.action_btn:hover{
    scale: 1.05;
    color: #fff;
}
.action_btn:active{
    scale: 0.95;

}
/* drop down menu */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background:rgba(255, 255, 255, 0.1) ;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    height: 0;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height: 240px;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}




.content{
    background: rgba(0, 0, 0, 0.7) url(/assets/images/2-recipe.jpg) center center fixed;
    background-size: cover;
    background-blend-mode: darken;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content p{
    font-size: 2rem;
    color: #fff;
    margin-bottom: 10px;
}

.search{
    display: flex;
    justify-content: center;
    width: 30%;
}


.search input{
    padding: 10px;
    border: none;
    width: 80%;
    outline: none;
    font-size: 15px;
    border-radius: 10px 0 0 10px;
}

.search button{
    padding: 10px 20px;
    background-color: rgba(194, 183, 183, 0.7);
    border: none;
    width: 20%;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    border-radius: 0 10px 10px 0;
    text-align: center;
    transition: all 0.3s ease;
}

.search button:hover{
    background-color: rgba(0, 0, 0, 0.7);
}

.recipe-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card{
    position: relative;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.card img {
    width: 100%;
    height:350px;
    object-fit: cover;
}

.info{
    padding: 15px;
}
h3{
    font-size: 18px;
    color: black;
    margin-bottom: 5px;
}

p {
    font-size: 14px;
    color: #666;
}

.likes {
    display: block;
    margin-top: 10px;
    font-size: 15px;
    color:rgb(36, 36, 18);
    font-weight: bold;
}

.badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color:rgb(37, 37, 8);
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
}

.badge.popular {
    background-color: #ff4500;
}

.badge.promoted {
    background-color: #f1c40f;
}

.badge.recommended {
    background-color: #3498db;
}


/* responsive desing*/

@media (max-width: 992px) {
    .navbar .links, .navbar .action_btn{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
  
}

@media (max-width: 599px) {
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }
    .content p{
        text-align: center;
        font-size: 1.5rem;
    }
    .search{
        display: flex;
        justify-content: center;
        width: 70%;
    }
    .search button{
        padding: 10px 20px;
        background-color: rgba(194, 183, 183, 0.7);
        border: none;
        width: 40%;
        cursor: pointer;
        font-size: 15px;
        color: #fff;
        font-weight: 600;
        border-radius: 0 10px 10px 0;
        text-align: center;
        transition: all 0.3s ease;
    }


}

@media (min-width: 600px) and (max-width: 1440px) {
    .search {
        display: flex;
        justify-content: center;
        width: 50%;
    }

    .search button {
        padding: 10px 20px;
        background-color: rgba(194, 183, 183, 0.7);
        border: none;
        width: 30%;
        cursor: pointer;
        font-size: 15px;
        color: #fff;
        font-weight: 600;
        border-radius: 0 10px 10px 0;
        text-align: center;
        transition: all 0.3s ease;
    }
}
