* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body
{
    height: 100%;
    background: rgba(0, 0, 0, 0.7) url(/images/2-recipe.jpg) center center fixed;
    background-size: cover;
    background-blend-mode: darken;
    
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}
a:hover{
    color:rgba(85, 63, 63, 0.7);

}
header{
    position: relative;
    padding: 0 2rem;
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;   
    cursor: pointer;
    color:rgb(207, 231, 68);
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color:rgb(162, 224, 162);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
.action_btn{
    background-color: orange;
    color: black;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: scale 0.2 ease;
}
.action_btn:hover{
    scale: 1.05;
    color: #fff;
}
.action_btn:active{
    scale: 0.95;

}
/* drop down menu */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    background:rgba(255, 255, 255, 0.1) ;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    height: 0;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height: 240px;
}
.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    display: flex;
    justify-content: center;
}



.login, .signup{
    background: rgb(202, 227, 60);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    color: black;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
}
.content h1{
    color: #fff;
    font-size: 1.9rem;
}
.content h1 i{
    color:rgb(202, 227, 60);
    font-size: 4rem;
}

.content p{
    color: #fff;
    line-height: 20px;
    font-size: 1.1rem;
    line-height: 1.5rem;
    max-width: 800px;
    margin: 0 auto;
    word-wrap: break-word;
} 

.content a{
    text-decoration: none;
    padding: 15px 20px;
    background-color: rgb(207, 231, 68);
    color:rgb(15, 17, 5);
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 30px;
}


/* responsive desing*/

@media (max-width: 992px) {
    .navbar .links, .navbar .action_btn{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown_menu{
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }

    .content p{
        font-size: 0.9rem;
    }
    .content h1 i{
        font-size: 1.5rem;
    }
}
