* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body
{
    height: 100%;
    background: rgba(0, 0, 0, 0.7) url(/images/2-recipe.jpg) center center fixed;
    background-size: cover;
    background-blend-mode: darken;
}
.container
{
    display: flex;
    align-items: center;
    justify-content: space-between;    
    margin-top: 10px;
}

.container ul li{
    display: inline-block;
    text-transform: uppercase;
    margin: 15px;
}
.container h1{
    cursor: pointer;
    color:rgb(202, 227, 60);
    margin-left: 10px;
}
.container ul li a{
    text-decoration: none;
    color: #fff;
}
.signup, .login {
    margin-right: 10px;
    padding: 10px 20px;
    background-color: rgb(156, 175, 45);
    font-weight: bold;
}
.login:hover{
    background-color:rgb(19, 21, 7);
}
.signup:hover{
    background-color:rgb(19, 21, 7);
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.content h1{
    color: #fff;
    font-size: 1.9rem;
}
.content h1 i{
    color:rgb(202, 227, 60);
    font-size: 4rem;
}

.content p{
    color: #fff;
    line-height: 20px;
    font-size: 1.1rem;
    line-height: 1.5rem;
    max-width: 800px;
    margin: 0 auto;
    word-wrap: break-word;
} 

.content a{
    text-decoration: none;
    padding: 15px 20px;
    background-color: rgb(156, 175, 45);
    color:rgb(11, 12, 3);
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 30px;
}

